<!doctype html>
<html lang="en">
<head>
    <title>Your Ballot</title>
</head>
<body>
    <h1>Your 2018 Ballot - Michigan</h1>
    <section>
        <h2>Races</h2>
        <details>
            <summary>MI - Senator</summary>
            <div>
                <ul>
                    <li>candidate</li>
                    <li>candidate</li>
                    <li>candidate</li>
                    <li>candidate</li>
                </ul>
            </div>
        </details>
        <ul>
            <li><a href="#">MI - Senator</a></li>
            <li><a href="#">MI - Represenattive</a></li>
            <li><a href="#">MI - Governor</a></li>
            <li><a href="#">MI - Attorney General</a></li>
        </ul>
    </section>
    <section>
        <h2>Propositions</h2>
        <ul>
            <li><a href="#">Proposition 1</a></li>
            <li><a href="#">Proposition 2</a></li>
            <li><a href="#">Proposition 3</a></li>
            <li><a href="#">Proposition 4</a></li>
        </ul>
    </section>
    <p>Note: Local Races not covered</p>
</body>
</html>