<!DOCTYPE html>
<html>
  <head>
    <title>Measure</title>
    <link rel="stylesheet" type="text/css" href="./main.css">
  </head>
  <body>
    <div>
      <h1>Measure Name</h1>
      <p>Some text describing the measure<p>
    </div>
    <div class="argument-column">
      <h2 class="yes-header">Yes</h2>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
    </div>
    <div class="argument-column">
      <h2 class="no-header">No</h2>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
      <div class="argument">
        <h3>Argument Header</h3>
        <p>Text of the argument</p>
      </div>
    </div>
  </body>
</html>
